@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background-color: black;
  padding: 30px;
}

main {
  width: 300px;
  margin: 0 auto;
}

input button {
  padding: 5px;
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  color: black;
}

button {
  padding: 5px 30px;
  background-color: gray;
  margin: 10px 0;
}

.captcha-image {
  background-color: white;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  align-items: center;
}

.captcha-image > div {
  border: 1px solid red;
}

.captcha-image > div.selected {
  position: relative;
}

.captcha-image > div.selected::after{
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(255, 255, 255, 0.6);
}